# fly.toml app configuration file generated for smartcoach-api-dev on 2025-12-07T19:15:47+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'smartcoach-api-dev'
primary_region = 'cdg'

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  min_machines_running = 0
  processes = ['app']
  auto_stop_machines = true
  auto_start_machines = true


[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
